In [1]:
from pyspark import SparkContext,SparkConf
# Start the spark context using the SparkConf object named `conf` the extension created in your kernel.
#conf = SparkConf()
sc=SparkContext.getOrCreate(conf=conf)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [3]:
df_json=spark.read.format("json").load("/home/jovyan/data/datos.json")

In [4]:
df_json.show()

+-------+----+----------+-----------+-----------+---------+--------+--------+----------+--------------------+----+-------+-------+--------------------+-----+----+----+----+----+--------+
|altitud| dir|     fecha|horaPresMax|horaPresMin|horaracha|horatmax|horatmin|indicativo|              nombre|prec|presMax|presMin|           provincia|racha| sol|tmax|tmed|tmin|velmedia|
+-------+----+----------+-----------+-----------+---------+--------+--------+----------+--------------------+----+-------+-------+--------------------+-----+----+----+----+----+--------+
|    540|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|      3259|   TOLEDO, LORENZANA| 0,5|   NULL|   NULL|              TOLEDO| NULL|NULL|14,0|12,0|10,0|    NULL|
|     50|NULL|1920-01-01|       NULL|       NULL|     NULL|   13:53|   07:12|     9981A|ESTACIÓN DE TORTO...| 8,8|   NULL|   NULL|           TARRAGONA| NULL|NULL|16,6|12,3| 8,0|    NULL|
|    372|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|     3365A|TALAVERA DE LA REINA|NULL|   NULL|   NULL|              TOLEDO| NULL|NULL|14,0|12,2|10,5|    NULL|
|    779|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|      9390|              DAROCA| 1,8|   NULL|   NULL|            ZARAGOZA| NULL|NULL|12,4|10,2| 8,0|    NULL|
|    459|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|      3469|     CÁCERES, CIUDAD| 9,0|   NULL|   NULL|             CACERES| NULL|NULL|13,0|10,7| 8,4|    NULL|
|    627|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|     4121C|CIUDAD REAL, INST...| 1,7|   NULL|   NULL|         CIUDAD REAL| NULL|NULL|13,4|10,2| 7,0|    NULL|
|     17|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|      4605|              HUELVA| 2,1|   NULL|   NULL|              HUELVA| NULL|NULL|18,0|12,9| 7,8|    NULL|
|     23|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|      8501|CASTELLÓ DE LA PLANA| 0,0|   NULL|   NULL|           CASTELLON| NULL|NULL|21,7|15,8|10,0|    NULL|
|    667|NULL|1920-01-01|         00|         15|     NULL|   10:30|   23:59|      3195|      MADRID, RETIRO| 0,0|  934,6|  925,3|              MADRID| NULL| 3,5|11,9|10,4| 8,8|    NULL|
|     95|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|     0370B|GIRONA, ANTIC INS...| 1,4|   NULL|   NULL|              GIRONA| NULL|NULL|12,2|10,1| 8,0|    NULL|
|    408|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|     0200E|    BARCELONA, FABRA| 3,5|   NULL|   NULL|           BARCELONA| NULL|NULL|NULL|NULL|NULL|    NULL|
|   2369|NULL|1920-01-01|       NULL|       NULL|     NULL|   10:00|   23:59|     C430E|               IZAÑA| 0,0|   NULL|   NULL|STA. CRUZ DE TENE...| NULL|10,0|10,7| 7,4| 4,0|     8,9|
|    540|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|      3259|   TOLEDO, LORENZANA| 0,0|   NULL|   NULL|              TOLEDO| NULL|NULL|10,6| 7,8| 5,0|    NULL|
|     50|NULL|1920-01-02|       NULL|       NULL|     NULL|   00:03|   22:52|     9981A|ESTACIÓN DE TORTO...| 0,0|   NULL|   NULL|           TARRAGONA| NULL|NULL|12,2| 9,6| 6,9|    NULL|
|    372|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|     3365A|TALAVERA DE LA REINA|NULL|   NULL|   NULL|              TOLEDO| NULL|NULL|13,5| 8,0| 2,5|    NULL|
|    779|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|      9390|              DAROCA| 0,0|   NULL|   NULL|            ZARAGOZA| NULL|NULL| 6,4| 4,4| 2,4|    NULL|
|    459|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|      3469|     CÁCERES, CIUDAD| 1,0|   NULL|   NULL|             CACERES| NULL|NULL|10,2| 6,4| 2,6|    NULL|
|    627|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|     4121C|CIUDAD REAL, INST...| 1,8|   NULL|   NULL|         CIUDAD REAL| NULL|NULL| 8,8| 5,0| 1,2|    NULL|
|     17|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|      4605|              HUELVA| 0,0|   NULL|   NULL|              HUELVA| NULL|NULL|15,5|11,8| 8,0|    NULL|
|     23|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|      8501|CASTELLÓ DE LA PLANA| 0,0|   NULL|   NULL|           CASTELLON| NULL|NULL|20,4|12,7| 5,0|    NULL|
+-------+----+----------+-----------+-----------+---------+--------+--------+----------+--------------------+----+-------+-------+--------------------+-----+----+----+----+----+--------+
only showing top 20 rows

In [5]:
from pyspark import StorageLevel
df_json = df_json.persist(StorageLevel.MEMORY_ONLY)

In [8]:
df_filtered = df_json.filter("altitud > 100")
df_filtered.show()

+-------+----+----------+-----------+-----------+---------+--------+--------+----------+--------------------+----+-------+-------+--------------------+-----+----+----+----+----+--------+
|altitud| dir|     fecha|horaPresMax|horaPresMin|horaracha|horatmax|horatmin|indicativo|              nombre|prec|presMax|presMin|           provincia|racha| sol|tmax|tmed|tmin|velmedia|
+-------+----+----------+-----------+-----------+---------+--------+--------+----------+--------------------+----+-------+-------+--------------------+-----+----+----+----+----+--------+
|    540|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|      3259|   TOLEDO, LORENZANA| 0,5|   NULL|   NULL|              TOLEDO| NULL|NULL|14,0|12,0|10,0|    NULL|
|    372|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|     3365A|TALAVERA DE LA REINA|NULL|   NULL|   NULL|              TOLEDO| NULL|NULL|14,0|12,2|10,5|    NULL|
|    779|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|      9390|              DAROCA| 1,8|   NULL|   NULL|            ZARAGOZA| NULL|NULL|12,4|10,2| 8,0|    NULL|
|    459|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|      3469|     CÁCERES, CIUDAD| 9,0|   NULL|   NULL|             CACERES| NULL|NULL|13,0|10,7| 8,4|    NULL|
|    627|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|     4121C|CIUDAD REAL, INST...| 1,7|   NULL|   NULL|         CIUDAD REAL| NULL|NULL|13,4|10,2| 7,0|    NULL|
|    667|NULL|1920-01-01|         00|         15|     NULL|   10:30|   23:59|      3195|      MADRID, RETIRO| 0,0|  934,6|  925,3|              MADRID| NULL| 3,5|11,9|10,4| 8,8|    NULL|
|    408|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|     0200E|    BARCELONA, FABRA| 3,5|   NULL|   NULL|           BARCELONA| NULL|NULL|NULL|NULL|NULL|    NULL|
|   2369|NULL|1920-01-01|       NULL|       NULL|     NULL|   10:00|   23:59|     C430E|               IZAÑA| 0,0|   NULL|   NULL|STA. CRUZ DE TENE...| NULL|10,0|10,7| 7,4| 4,0|     8,9|
|    540|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|      3259|   TOLEDO, LORENZANA| 0,0|   NULL|   NULL|              TOLEDO| NULL|NULL|10,6| 7,8| 5,0|    NULL|
|    372|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|     3365A|TALAVERA DE LA REINA|NULL|   NULL|   NULL|              TOLEDO| NULL|NULL|13,5| 8,0| 2,5|    NULL|
|    779|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|      9390|              DAROCA| 0,0|   NULL|   NULL|            ZARAGOZA| NULL|NULL| 6,4| 4,4| 2,4|    NULL|
|    459|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|      3469|     CÁCERES, CIUDAD| 1,0|   NULL|   NULL|             CACERES| NULL|NULL|10,2| 6,4| 2,6|    NULL|
|    627|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|     4121C|CIUDAD REAL, INST...| 1,8|   NULL|   NULL|         CIUDAD REAL| NULL|NULL| 8,8| 5,0| 1,2|    NULL|
|    667|NULL|1920-01-02|         11|         00|     NULL|   12:30|   06:30|      3195|      MADRID, RETIRO| 0,0|  940,3|  931,9|              MADRID| NULL| 7,4|11,0| 6,8| 2,6|    NULL|
|    408|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|     0200E|    BARCELONA, FABRA| 0,0|   NULL|   NULL|           BARCELONA| NULL|NULL|NULL|NULL|NULL|    NULL|
|   2369|NULL|1920-01-02|       NULL|       NULL|     NULL|   12:10|   20:50|     C430E|               IZAÑA| 0,0|   NULL|   NULL|STA. CRUZ DE TENE...| NULL|10,0| 9,6| 5,8| 2,0|    12,8|
|    540|NULL|1920-01-03|       NULL|       NULL|     NULL|    NULL|    NULL|      3259|   TOLEDO, LORENZANA| 0,0|   NULL|   NULL|              TOLEDO| NULL|NULL|10,8| 8,8| 6,8|    NULL|
|    372|NULL|1920-01-03|       NULL|       NULL|     NULL|    NULL|    NULL|     3365A|TALAVERA DE LA REINA|NULL|   NULL|   NULL|              TOLEDO| NULL|NULL|10,5| 7,8| 5,0|    NULL|
|    779|NULL|1920-01-03|       NULL|       NULL|     NULL|    NULL|    NULL|      9390|              DAROCA| 0,0|   NULL|   NULL|            ZARAGOZA| NULL|NULL| 8,4| 4,7| 1,0|    NULL|
|    459|NULL|1920-01-03|       NULL|       NULL|     NULL|    NULL|    NULL|      3469|     CÁCERES, CIUDAD| 1,7|   NULL|   NULL|             CACERES| NULL|NULL|10,2| 6,6| 3,0|    NULL|
+-------+----+----------+-----------+-----------+---------+--------+--------+----------+--------------------+----+-------+-------+--------------------+-----+----+----+----+----+--------+
only showing top 20 rows

In [9]:
df_filtered2 = df_json.filter("altitud < 100")
df_filtered2.show()

+-------+----+----------+-----------+-----------+---------+--------+--------+----------+--------------------+----+-------+-------+---------+-----+----+----+----+----+--------+
|altitud| dir|     fecha|horaPresMax|horaPresMin|horaracha|horatmax|horatmin|indicativo|              nombre|prec|presMax|presMin|provincia|racha| sol|tmax|tmed|tmin|velmedia|
+-------+----+----------+-----------+-----------+---------+--------+--------+----------+--------------------+----+-------+-------+---------+-----+----+----+----+----+--------+
|     50|NULL|1920-01-01|       NULL|       NULL|     NULL|   13:53|   07:12|     9981A|ESTACIÓN DE TORTO...| 8,8|   NULL|   NULL|TARRAGONA| NULL|NULL|16,6|12,3| 8,0|    NULL|
|     17|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|      4605|              HUELVA| 2,1|   NULL|   NULL|   HUELVA| NULL|NULL|18,0|12,9| 7,8|    NULL|
|     23|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|      8501|CASTELLÓ DE LA PLANA| 0,0|   NULL|   NULL|CASTELLON| NULL|NULL|21,7|15,8|10,0|    NULL|
|     95|NULL|1920-01-01|       NULL|       NULL|     NULL|    NULL|    NULL|     0370B|GIRONA, ANTIC INS...| 1,4|   NULL|   NULL|   GIRONA| NULL|NULL|12,2|10,1| 8,0|    NULL|
|     50|NULL|1920-01-02|       NULL|       NULL|     NULL|   00:03|   22:52|     9981A|ESTACIÓN DE TORTO...| 0,0|   NULL|   NULL|TARRAGONA| NULL|NULL|12,2| 9,6| 6,9|    NULL|
|     17|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|      4605|              HUELVA| 0,0|   NULL|   NULL|   HUELVA| NULL|NULL|15,5|11,8| 8,0|    NULL|
|     23|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|      8501|CASTELLÓ DE LA PLANA| 0,0|   NULL|   NULL|CASTELLON| NULL|NULL|20,4|12,7| 5,0|    NULL|
|     95|NULL|1920-01-02|       NULL|       NULL|     NULL|    NULL|    NULL|     0370B|GIRONA, ANTIC INS...| 0,5|   NULL|   NULL|   GIRONA| NULL|NULL|14,6| 9,6| 4,6|    NULL|
|     50|NULL|1920-01-03|       NULL|       NULL|     NULL|   15:47|   00:43|     9981A|ESTACIÓN DE TORTO...| 1,3|   NULL|   NULL|TARRAGONA| NULL|NULL|15,5|11,4| 7,2|    NULL|
|     17|NULL|1920-01-03|       NULL|       NULL|     NULL|    NULL|    NULL|      4605|              HUELVA| 0,3|   NULL|   NULL|   HUELVA| NULL|NULL|15,6|11,8| 8,0|    NULL|
|     23|NULL|1920-01-03|       NULL|       NULL|     NULL|    NULL|    NULL|      8501|CASTELLÓ DE LA PLANA| 0,0|   NULL|   NULL|CASTELLON| NULL|NULL|17,6|12,9| 8,2|    NULL|
|     95|NULL|1920-01-03|       NULL|       NULL|     NULL|    NULL|    NULL|     0370B|GIRONA, ANTIC INS...| 0,0|   NULL|   NULL|   GIRONA| NULL|NULL|11,0| 4,6|-1,8|    NULL|
|     50|NULL|1920-01-04|       NULL|       NULL|     NULL|   17:34|   07:29|     9981A|ESTACIÓN DE TORTO...| 1,7|   NULL|   NULL|TARRAGONA| NULL|NULL|10,4| 8,2| 6,0|    NULL|
|     17|NULL|1920-01-04|       NULL|       NULL|     NULL|    NULL|    NULL|      4605|              HUELVA| 5,7|   NULL|   NULL|   HUELVA| NULL|NULL|14,0|11,0| 8,0|    NULL|
|     23|NULL|1920-01-04|       NULL|       NULL|     NULL|    NULL|    NULL|      8501|CASTELLÓ DE LA PLANA| 6,0|   NULL|   NULL|CASTELLON| NULL|NULL|17,6|11,3| 5,0|    NULL|
|     95|NULL|1920-01-04|       NULL|       NULL|     NULL|    NULL|    NULL|     0370B|GIRONA, ANTIC INS...| 0,0|   NULL|   NULL|   GIRONA| NULL|NULL| 7,4| 4,1| 0,8|    NULL|
|     50|NULL|1920-01-05|       NULL|       NULL|     NULL|   00:36|   18:57|     9981A|ESTACIÓN DE TORTO...| 0,5|   NULL|   NULL|TARRAGONA| NULL|NULL| 9,1| 6,8| 4,5|    NULL|
|     17|NULL|1920-01-05|       NULL|       NULL|     NULL|    NULL|    NULL|      4605|              HUELVA| 0,0|   NULL|   NULL|   HUELVA| NULL|NULL|14,0| 9,5| 5,0|    NULL|
|     23|NULL|1920-01-05|       NULL|       NULL|     NULL|    NULL|    NULL|      8501|CASTELLÓ DE LA PLANA| 0,0|   NULL|   NULL|CASTELLON| NULL|NULL|15,0|11,7| 8,4|    NULL|
|     95|NULL|1920-01-05|       NULL|       NULL|     NULL|    NULL|    NULL|     0370B|GIRONA, ANTIC INS...|42,8|   NULL|   NULL|   GIRONA| NULL|NULL| 7,2| 4,0| 0,8|    NULL|
+-------+----+----------+-----------+-----------+---------+--------+--------+----------+--------------------+----+-------+-------+---------+-----+----+----+----+----+--------+
only showing top 20 rows